
.presentations {
  padding-top: 2rem;

}

div.pdxwit {
  padding: 0 0 0 2rem;
  border-left: 0.5rem solid $secondary;
}
#presentations li {
  list-style: none;
}
#show-projects.div {
  float: right;
}
#show-projects.intro-text {
  left: 0;
  width: 40%;
  margin-top: 3rem;
  margin-left: 5rem;
  position: absolute;
  .intro-button {
    width: 100%;
    left: 0;
    position: absolute;
    bottom: -2rem;
  }
}
