.cta {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: fade-out($primary, 0.1);
  .cta-inner {
    position: relative;
    padding: 3rem;
    margin: 0.5rem;
    background-image: linear-gradient(90deg,#ffe1d6,#cfeffe);
    &:before {
      border-radius: 0.5rem;
      padding: -1rem;
      content: '';
      position: absolute;
      top: -1rem;
      bottom: -1rem;
      left: -1rem;
      right: -1rem;
    }
  }
}
.cta-recs {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: fade-out($primary, 0.1);
  height: 100vh;

    &:before {
      border-radius: 0.5rem;
      padding: -1rem;
      content: '';
      position: absolute;

      top: -.5rem;
      bottom: -.5rem;
      left: -.7rem;
      right: -.7rem;
      border-width: .5rem;
      border-style: solid;
      border-image: linear-gradient(
      to bottom,
      #8099ff,
      #fff
    ) 1 100%;

  }
}

h2#prof-rec {
  @media(max-width: 995px){
    font-size: 1.2rem;
  }
}
