body {
  @include body-font;
  background-image: linear-gradient(rgba(225, 225, 214, 0.5) 0%, rgba(207, 239, 254, 0.5)), url('../img/robin.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
}

p {
  line-height: 1.75;
  font-size: 1.15rem;
  font-family: 'Lora', serif;
}
li {
  font-size: 1.1rem;
  font-family: 'Lora', serif;
}

a {
  color: $secondary;
}
a:hover {
  color: $gray-600;
}

.text-faded {
  color: fade-out($white, 0.7);
}

.site-heading {
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  line-height: 1;

  @include heading-font;
  .site-heading-upper {
    display: block;
    font-size: 2rem;
    font-weight: 800;
  }
  .site-heading-lower {
    font-size: 5.5rem;
    font-weight: 200;
    line-height: 4rem;
  }
}

.page-section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.section-heading {
  text-transform: uppercase;
  .section-heading-upper {
    display: block;
    font-size: 1rem;
    font-weight: 800;
  }
  .section-heading-lower {
    display: block;
    font-size: 3rem;
    font-weight: 100;
  }
}

.bg-faded {
  background-image: linear-gradient(90deg,#ffe1d6,#cfeffe);
}
a.mx-2 {
  font-size: 2rem;
  color: $secondary;
}
a.mx-2:hover {
  color: $gray-600;
}
.first-project {
  margin-top: 15rem;
}
.presentations {
  padding-top: 2rem;

}
.presentations div.pdxwit {
  padding: 0 0 0 2rem;
  border-left: 0.5rem solid #8099ff;
}
.presentations li {
  list-style: none;
}
#show-projects.div {
  float: right;
}
#show-projects.intro-text {
  left: 0;
  width: 40%;
  margin-top: 3rem;
  margin-left: 5rem;
  position: absolute;
  .intro-button {
    width: 100%;
    left: 0;
    position: absolute;
    bottom: -2rem;
  }
}


.proj {
  box-shadow: .5rem .5rem fade-out($black, .8);
}

.layered {
  box-shadow: -.5rem -.5rem fade-out($black, .8);
}

// footer
.footer {
  background-color: fade-out($primary, 0.1);
  position: sticky;
  margin-top: 5rem;
}
