body {
  @include body-font;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0  , 0.5)), url('../img/robin.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin: 0;
height:100vh;
width:100%;
padding:0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
}

p {
  line-height: 1.75;
  font-size: 1.15rem;
  font-family: 'Varela Round', sans-serif;
}
li {
  font-size: 1.1rem;
  ffont-family: 'Varela Round', sans-serif;
  @media(max-width: 995px) {
    padding-left: 0;
    padding-bottom:.5rem;
    margin: 0;
    text-align: left;
  }
}

a {
  color: $gray-100;
}
a:hover {
  color: $gray-600;
}
ul {
  @media(max-width: 995px) {
    padding-left: 0;
    margin: 0;
    text-align: left;
  }
}

.text-faded {
  color: fade-out($white, 0.7);
}

.site-heading {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  line-height: 1;

  @include heading-font;
  .site-heading-upper {
    display: block;
    font-size: 2rem;
    font-weight: 800;
    }


  .site-heading-lower {
    font-size: 5.5rem;
    font-weight: 200;
    line-height: 4rem;
  }
}
.site-heading.site-heading-upper {
  @media (max-width: 995px) {
    font-size: 1rem !important;
  }
}
.site-heading.site-heading-lower {
  @media (max-width: 995px) {
    font-size: 2rem !important;
  }
}

.section-heading {
  text-transform: uppercase;
  .section-heading-upper {
    display: block;
    font-size: 1rem;
    font-weight: 800;
  }
  .section-heading-lower {
    display: block;
    font-size: 3rem;
    font-weight: 100;
    @media(max-width: 995px){
      font-size: .9rem;
      color: $gray-900;
    }
  }
}
h2.section-heading {
  font-size: 3rem;
}
// .page-section {
//   margin-top: 5rem;
//   margin-bottom: 5rem;
// }
.bg-faded {
  background-image: linear-gradient(90deg,#ffe1d6,#cfeffe);
}
a.project-card {
  color: $gray-900;
}
a.project-card:hover {
  text-decoration: none;
}
.card-body:hover {
  box-shadow: 3px 3px 5px 5px $gray-600;
}
a.mx-2 {
  font-size: 2rem;
}
a.mx-2:hover {
  color: $gray-600;
}

.layered {
  box-shadow: -.5rem -.5rem fade-out($black, .8);
}

// footer
.footer {
  background-color: fade-out($primary, 0.1);
  position: sticky;
  margin-top: 5rem;
}
div.card-body {
  padding: 0;
}
ul.proj {
  list-style: none;
  padding: 0 1rem 0rem 1rem;
}
section#projects {
  height:100vh;
  @media (max-width: 992px) {
    height: auto;
  }
}

section#recs {
  height: 100vh;
  @media (max-width: 992px) {
    height: auto;
  }
}
section#presentations {
  height: 100vh;
  @media (max-width: 992px) {
    height: auto;
  }
}
