.splash {
  height: 100vh;
  @media (max-width: 992px) {
    height: auto;
  }
}
.site-heading {
  padding-top: 1rem;
  @media (max-width: 992px) {
    padding-top: 0;
  }
}
.intro {
  @media (max-width: 992px) {
    display: inline;
  }
}
img#about-img {
  border-radius: 50%;
  width: 300px;

}
#sm-splash {
  @media (max-width: 992px) {
    height: 100vh;
    vertical-align: middle;
  }
}
.intro {
  position: relative;
  @media (min-width: 992px) {
    .intro-img {
      width: 100px;
      float: right;
    }
    .intro-text {
      left: 0;
      width: 60%;
      // margin-top: 3rem;
      position: absolute;
      .intro-button {
        width: 100%;
        left: 0;
        position: absolute;
        bottom: -2rem;
      }
    }
  }
  @media (min-width: 1200px) {
    .intro-text {
      width: 45%;
    }
  }
}
