.intro {
  position: relative;
  @media (min-width: 992px) {
    .intro-img {
      width: 50%;
      float: right;
    }
    .intro-text {
      left: 0;
      width: 60%;
      margin-top: 3rem;
      position: absolute;
      .intro-button {
        width: 100%;
        left: 0;
        position: absolute;
        bottom: -2rem;
      }
    }
  }
  @media (min-width: 1200px) {
    .intro-text {
      width: 45%;
    }
  }
}
#presentations {
  padding-bottom: 3rem;

}
#presentations div.pdxwit {
  padding: 0 0 0 2rem;
  border-left: 0.5rem solid #8099ff;
}
#presentations li {
  list-style: none;
}
#show-projects.div {
  float: right;
}
#show-projects.intro-text {
  left: 0;
  width: 40%;
  margin-top: 3rem;
  margin-left: 5rem;
  position: absolute;
  .intro-button {
    width: 100%;
    left: 0;
    position: absolute;
    bottom: -2rem;
  }
}
