#mainNav {
  background-color: fade-out($primary, .1);
  @include heading-font;
  .navbar-brand {
    color: fade-out($tertiary, .1);
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        color: fade-out($gray-600, 0.3);

        font-weight: 800;
      }
      &.active {
        .nav-link {
          color: $gray-800;
        }
      }
    }
  }
  @media (min-width: 992px) {
    .navbar-nav {
      .nav-item {
        .nav-link {
          font-size: 0.9rem;
          &:hover {
            color: fade-out($black, 0.6);
          }
        }
        &.active {
          .nav-link:hover {
            color: $secondary;
          }
        }
      }
    }
  }
}
