#mainNav {
  background-color: fade-out($primary, .1);
  font-family: 'Lora', serif;
  @include heading-font;
  .navbar-brand {
    color: fade-out($tertiary, .1);
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        color: fade-out($gray-700, 0.3);

        font-weight: 800;
      }
      &.active {
        .nav-link {
          color: $gray-800;
        }
      }
    }
  }
  @media (min-width: 992px) {
    .navbar-nav {
      .nav-item {
        .nav-link {
          font-size: 0.9rem;
          &:hover {
            color: fade-out($black, 0.8);
          }
        }
        &.active {
          .nav-link:hover {
            color: fade-out($black, .4);
          }
        }
      }
    }
  }
}
